.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7e70e4;
  padding: 1rem 2rem;
  color: white;
}

.nav-links a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}
